@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background: #272b2c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.keyTouch {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  color: white;
  background: #2f3336;
  border-radius: 12px;
  text-shadow: 0px 0px 40px white, 0px 0px 80px white;
  width: 25px;
  text-align: center;
  font: 28px arial;
  width: 60px;
  padding: 15px;
  margin: 0.5rem;
  max-height: 62px;
}

.keyTouch:hover {
  background: #2f3336;
  text-shadow: 1px 2px 60px white, 0px 0px 60px white, 0px 0px 60px white,
    10px 10px 60px white;
  padding-left: 11px;
  padding-top: 11px;
}

button:active {
  transform: scale(0.9);
}

.video-title {
  position: relative;
  height: 100vh;
}
.video-title video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(1.75);
}
.text-box {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  background: #272b2c;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 900;
  mix-blend-mode: multiply;
  flex-direction: column;
}

// Keys Colors

#brown {
  color: #cd853f;
  text-shadow: 0px 0px 20px #cd853f, 0px 0px 35px #cd853f;
}

#gray {
  color: #d3d3d3;
  text-shadow: 0px 0px 20px #d3d3d3, 0px 0px 35px #d3d3d3;
}

#green {
  color: lightgreen;
  text-shadow: 0px 0px 20px lightgreen, 0px 0px 35px lightgreen;
}
#orange {
  color: #fcbf49;
  text-shadow: 0px 0px 20px #fcbf49, 0px 0px 35px #fcbf49;
}

#blue {
  color: #48cae4;
  text-shadow: 0px 0px 20px #48cae4, 0px 0px 35px #48cae4;
}

#red {
  color: #fb4b4e;
  text-shadow: 0px 0px 20px #fb4b4e, 0px 0px 35px #fb4b4e;
}

#brown {
  color: #bc8a5f;
  text-shadow: 0px 0px 20px #bc8a5f, 0px 0px 35px #bc8a5f;
}

#pink {
  color: #fcd5ce;
  text-shadow: 0px 0px 20px #fcd5ce, 0px 0px 35px #fcd5ce;
}

#lightBrown {
  color: #ffddd2;
  text-shadow: 0px 0px 20px #ffddd2, 0px 0px 35px #ffddd2;
}

#yellow {
  color: #ffe548;
  text-shadow: 0px 0px 20px #ffe548, 0px 0px 35px #ffe548;
}

#lightBlue {
  color: #caf0f8;
  text-shadow: 0px 0px 20px #caf0f8, 0px 0px 35px #caf0f8;
}

#violet {
  color: #cfbff7;
  text-shadow: 0px 0px 20px #cfbff7, 0px 0px 35px #cfbff7;
}

.title-shadow {
  color: #ffd900;
  text-shadow: 0px 0px 4px #ffd900;
}
